body{
  margin-left: 30px;
  margin-right: 30px;
  width: 970px;
}

form {
  margin-top: -48px;
  float: right;
}

.left{
  text-align: left;
  color: rgb(233, 160, 27);
  font-family: Calibri;
}

h2{
  background-color: rgb(71, 71, 230);
  color: blue;
  font-size: 1em;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
}

table{
  width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
  background-color: rgb(245, 241, 237);
  margin-bottom: 20px;
}

.text-1{
  font-size: 20px;
}

.top-1{
  background-color: rgb(255, 234, 206);
}

.text-2{
  background-color: rgb(255, 234, 206);
  border: 1px solid orange;
  border-style: dashed;
}

.right{
  width: 500px;
  float: right;
  margin-right: 50px;
  margin-top: -10px;

}

.text-t{
  font-size: 20px;
}

img{
  float: left;
  padding-top: 6px;
  padding-right: 7px;
}

.table-3{
  width: 180px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border: 1px solid rgb(249, 147, 4);
}

.color-1{
  background-color: rgb(243, 163, 13);
  font-size: 35px;
  margin-top: 3px;
}

.table-4{
  width: 970px;
}